
$blue_background: #6E9E9E;
$light_blue_background: #9DC3C3;
$red_pink: #CC4A4A;
$yellow_color: #E4D955;
$main_font: Crushed;
// Main Page

  .background {
    width: 100%;
    height: 100vh;
    background: linear-gradient($blue_background, $light_blue_background);
    display: flex;
    align-content: center;
    flex-direction: column;

  }

  .musclemanContainer{
    margin-top: -3px;
    display: flex;
    align-items: flex-end;
  }
  #muscleman{
    width: 175px;
    z-index: 1;
    margin-top: 25px;
    margin-left: 24px;
     
  }

  #muscleman1{
    width: 175px;
    z-index: 1;
    margin: 50px
  }

  .blenderContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  #startText{
    margin-top: 27px;
    margin-bottom: 10px;
    font-family: $main_font;
    font-size: 17pt;
  }

  #blender{
    height: 17%;
    width: 87px;
    margin-top: 5px;
  }
  #whiteBorder{
    width: 100%;
    height: 282px;
    /* margin-top: 150px; */
    border-top: 7px solid white;
    border-bottom: 7px solid white;
    /* position: fixed; */
    text-align: center;
    font-family: 'Economica', sans-serif;
    color: $red_pink;
    font-size: 78px;
    font-weight: 700;
    line-height: 75px;
    padding-top: 22px;
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  #dumbell{
    width: 150px;
  }

// First things first
  #firstThingsHeader{
    width: 100%;
    height: 150px;
    border-top: 6px solid white;
    border-bottom: 6px solid white;
    font-family: $main_font;
    font-size: 63px;
    text-align: center;
    color: $red_pink;
    margin-top: 15px;
    padding-top: 8px;
    padding-left: 9px;
  }
  #optionBackgroundContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }
  .optionBackground{
    width: 74vw;
    height: 50vh;
    background: $light_blue_background;
    border-radius: 3%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }

  .textInOption{
    font-size: 35px;
    font-family: $main_font;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 14px;
  }

  .accountOptions{
    width: 115px;
    height: 45px;
    text-align: center;
    margin: 25px;
    font-family: $main_font;
    background-color: #A8A8A8;
    padding-top: 12px;
    border-radius: 10px;
    font-size: 23px;

  }
    a.accountOptions:link {
      color: inherit;
      text-decoration: none;
    }

    a:visited {
      color: inherit;
      text-decoration: none;
    }

  .accountOptions:hover{
    background-color: $yellow_color;
    color: white;
    padding-bottom: 10px;
  
  }

// YES I HAVE AN ACCOUNT
  .accountLookupText{
    font-family: $main_font;
    font-size: 34px;
    margin-top: 23px;
    text-align: center;
    padding: 13px;
    width: 100%
  }

  .googleLoginContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    
  }

  .googleLogin{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .googleLoginSmall{
    width: 35%;
  }

  .googleLoginLarge{
    display: none;
    width: 100%;
  }

  .loginGoogleText{
    font-family: $main_font;
    font-size: 23px;
    // padding-left: 20px;
    // padding-right: 25px;
    margin: 20px 0px;
  }

  .thatsOkay{
    font-family: $main_font;
    font-size: 23px;
    margin-top: 10px;
  }

  .yourEmail{
    text-align: center;
    font-family: $main_font;
    font-size: 23px;
    margin-top: 50px;

  }

  .emailInputContainer{ 
    display:flex;
    flex-direction: column;
    align-items: center;
  
  
    input{
      margin-top: 25px;
      width: 155px;
      height: 32px;
      background: transparent;
      border: 2px solid black;
      border-radius: 6%;
      font-family: $main_font;
      font-size: 20px;
      text-align: center;
    }

    button{
      font-family: $main_font;
      font-size: 15px;
      border: 2px solid black;
      background: transparent;
      margin-top: 15px;
      border-radius: 6%;
    }
  }

  .background1{
    @extend .background;
    background: linear-gradient($light_blue_background, white);
    display: flex;
    align-items: center;
    
  }

  .firstThingsHeader2{
    @extend #firstThingsHeader;
    color: $red_pink;
  }

//Before we get started
  .beforeStarted{
    font-family: $main_font;
    letter-spacing: 3px;
    font-size: 25px;
    text-align: center;
    margin: 20px 12px 20px 12px;
    line-height: 30px;
  }

  .okButton{
    height: 50px;
    width: 50px;
    background: $light_blue_background;
    color: $red_pink;
    border-radius: 50%;
    border: 2px solid $red_pink;
    font-family: $main_font;
    font-size: 20px;
    margin-bottom: 15px;
    outline: none;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    margin-top: 20px;
  }

//USER INPUT PAGE

  .userInfoBackground{
    width: 85vw;
    height: 69vh;
    background: $light_blue_background;
    border-radius: 3%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: scroll;
  }

  .userInputInfo{
    font-family: $main_font;
    font-size: 32px;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;

    ol{
      width: inherit;
      height: inherit;
    }

    li{
      padding-top: 20px;
      padding-bottom: 10px;
      margin-left: 40px;
    }
  }

  input[type=number]{
        height: 20px;
    width: 40px;
    margin-left: 6px;
    margin-right: 5px;
    border: 2px solid black;
    background: none;

  }

  label{
    font-size: 20px;
    
  }

  .infoDiv{
    margin-left: -26px;
    

    i{
      font-size: 26px;
    
    }
    i:hover{
      color: $red_pink;
    }
  }

 ul{
   list-style: none;
 }

 li.genderRadio{
   margin: 0;
   padding: 0;
 }

.submitButton{
  height: 40px;
  width: 100px;
  background: none;
  border: 3px solid black;
  margin: 20px;
  font-family: $main_font;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.submitButton:hover{
  background-color: $yellow_color;
  color: white;
  border:none;
}

//BF%

  .bodyFatPercHeader{
    @extend #firstThingsHeader;
    font-size: 88px
  }

  .bfContainer{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 30px;
  }

  .bfPercBackground{
    width: 90vw;
    background: $light_blue_background;
    border-radius: 20px;
  }

  .bfPercText{
    // font-family: $main_font;
    // font-size: 100px;
    height: 70vh;
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $main_font;
    background-color: $light_blue_background;
    border-radius: 15px;
    margin-top: 20px;
    text-align: center;

    p{
      font-family: $main_font;
      font-size: 25px;
    }

    h1{
      font-family: $main_font;
      font-size: 100px;
    }

    #bfPercInfo{
      height: 46vh;
      width: 90%;
      background: $light_blue_background;
      word-wrap: break-word;
      margin-top: 28px;
      text-align: center;
      padding: 7px;
      overflow-y: scroll;
      /* border: 1px solid grey; */
      border-radius: 10px;
      line-height: 35px;
      font-family: $main_font;
      font-size: 27px;
    
    }
  }

  .setGoalsButtonCont{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: $main_font;
  }

  .setGoalsButton{
   height: 70px;
    width: 133px;
    background-color: transparent;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    line-height: 25px;
    padding: 7px;
    text-decoration: none;
    font-weight: bold;
    font-family: $main_font;
    
  }

  .setGoalsButton:hover{
    color: white;
    background-color: $yellow_color;
    border: 3px solid transparent;

  }
  //warm-up
  .warmUpPage{
    @extend .background;
    display: flex;
    align-items: center;
    
  }

  #warmUpHeader{
    @extend #firstThingsHeader;
    height: 100px;
    font-size: 48px;
    padding-top: 15px;
  }

  #warmUpBackground{
    width: 90vw;
    height: 80vh;
    background: $light_blue_background;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    overflow-y: scroll;
    margin-top: 15px;
    margin-bottom: 54px;

    h1{
      text-decoration: underline;
      font-family: $main_font;
      text-align: center;
      font-size: 55px;
    }

    p#warmUpInfo{
      font-family: $main_font;
      text-align: center;
      line-height: 20px;
      font-weight: bold;
      padding: 10px 20px 10px 20px;
    }
  }

  .warmUpList{
    font-family: $main_font;
    text-align: center;
    padding-top: 10px;
    list-style: none;
    font-size: 38px;
    line-height: 65px;
  }

  .letsWorkout{
    text-align: center;
    font-family: $main_font;
    width: 180px;
    height: 88px;
    font-size: 38px;
    text-decoration: none;
    margin: 20px;
    border: 3px solid black;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    background-color: transparent;
    
    
  }

  .letsWorkout:hover{
    background-color: $yellow_color;
    border: 3px solid $yellow_color;
    color: white;
  }
  // .workoutList{
    
  // }

  .workOuts{
    font-family: $main_font;
    font-size: 30px;
    margin: 10px;
    
  }
  img#workoutImage{
    width: 300px;
    height: 182px;
    margin: 10px 10px 10px -19px;
    border: 3px solid black;
    border-radius: 10px;
  }

  #workoutList{
    width: 100%;
    height: 100vh;
    padding: 8px;
    margin-left: 20px;
    
  }

  #howMany{
    font-family: $main_font;
    font-size: 25px;
  }

  .breaks{
    font-family: $main_font;
    font-size: 30px;
    margin: 50px 10px;
    
  }

  p#takeBreak{
    font-family: $main_font;
    font-size: 25px;
    font-weight: bold;
  }

  img#workoutImageDoorPull{
    @extend img#workoutImage;
    width: 200px;
    height: 300px;
  }

  iframe#workoutImage{
    @extend img#workoutImage;
  }

  #welcomeBack{
    font-family: $main_font;
    font-size: 56px;
    font-weight: normal;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
  }

  #readyToStart{
    font-family: Crushed;
    font-size: 30px;
    text-align: center;
    margin: 30px;
  }

  #readyMuscleman{
    width: 50%;
    margin-top: 35px;
    
  }
  #yesLinkContainer{
    display: flex;
    justify-content: center;
  }

  #yesLink{
    text-align: center;
    font-family: $main_font;
    font-size: 25px;
    border: 3px solid black;
    height: 50px;
    width: 60px;
    padding-top: 9px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
  }

  #yesLink:hover{
    border: 3px solid $yellow_color;
    background-color: $yellow_color;
    color: white;
  }

   .summaryText{
    font-family: $main_font;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
   }

   .summaryList{
    font-size: 36px;
    margin-top: 40px;
    font-weight: normal;
   }

  @media(min-width: 409px){
    .firstThingsHeader2{
      height: 104px;
    }

    #firstThingsHeader{
      height: 95px;
    }
  }

  @media(min-width: 450px){
    .googleLoginSmall{
      display: none;
    }

    .googleLoginLarge{
      display: block;
      width: 300px;
    }

    #muscleman1{
      width: 235px;
      margin: 40px;
    }

    .bodyFatPercHeader{
    height: 93px;
    font-size: 114px;
  }
  }

  @media(min-width: 750px){
    #whiteBorder{
      font-size: 109px;
      line-height: 99px;
      padding-top: 48px;
    }

    .musclemanContainer {
      margin-top: 40px;
    
    }

    #muscleman{
      width: 234px;
      margin-top: 0px;
      margin-left: 80px;
    }

    #blender {
      height: 21%;
      width: 97px;
      margin-top: 22px;
    }

    .firstThingsHeader2{
      color: #CC4A4A;
      height: 93px;
      font-size: 55px;
      
    }

    .optionBackground {
      width: 400px;
      margin-top: 30px;
      padding-top: 31px;
    }

    #firstThingsHeader{
      font-size: 98px;
      height: 150px;
    }

    .googleLoginContainer {
     
    }

    .accountLookupText {
      font-family: $main_font;
      font-size: 34px;
      margin-top: 23px;
      text-align: center;
      padding: 19px 20px;
      width: 100%;
    }
  }


