@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i|Oswald:200,300,400,500,600,700|Crushed');



// Main Page

  .background {
    width: 100%;
    height: 100vh;
    background-color: #88bcbc;
    display: flex;
    align-content: center;
    flex-direction: column;

  }

  .musclemanContainer{
    margin-top: 13px;
  }
  .muscleman{
    width: 175px;
    z-index: 1;
    margin-top: 11px;
    margin-left: 24px;
     
  }

  .blenderContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  #startText{
    margin-top: 47vh;
    margin-bottom: 10px;
    font-family: 'Crushed';
    font-size: 17pt;
  }

  img.blender{
    height: 17%;
    width: 87px;
    margin-top: 5px;
  }
  .whiteBorder{
    width: 100%;
    height: 46vh;
    margin-top: 150px;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
    position: fixed;
    text-align: center;
    font-family: 'Economica', sans-serif;
    color: #CC4A4A;
    font-size: 78px;
    font-weight: 700;
    line-height: 75px;
    padding-top: 7vh;
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  .dumbell{
    width: 150px;
  }