<div class="background">
  <header class="animated fadeInDown" id="firstThingsHeader"> First Things First...
  </header>

  <div class="animated fadeInUp" id="optionBackgroundContainer">
    <div class="optionBackground">
      <h class="accountLookupText">
        Don't remember?
      </h>
      <h class="thatsOkay">That's okay! We'll check for you!</h>
      <p class="yourEmail">What's your email address?
        <div class="emailInputContainer">
          <input type="text" name="emailAddress" value="Email Address">
          <button type="button">Search!</button>
        </div>
        
      </p>
    </div>
  </div>
</div>