<div class="background">
  <header class="animated fadeInDown" id="firstThingsHeader"> First Things First...
  </header>

  <div class="animated fadeInUp" id="optionBackgroundContainer">
    <div class="optionBackground">
      <h class="accountLookupText">
        Yay! Let's get you logged in!
        <div class="googleLoginContainer">
          <div class="googleLogin">
            
          </div>
          <h class="loginGoogleText">Please login with your Google account</h>
          <!--<a ng-click="warmUp()">Dummy Account</a>-->
          <a ui-sref="welcome">Dummy Account</a>
        </div>
      </h>
    </div>
  </div>
</div>