<div class="background">
  <header class="animated fadeInDown" id="firstThingsHeader"> First Things First...
  </header>

  <div class="animated fadeInUp" id="optionBackgroundContainer">
    <div class="optionBackground">
      <h class="accountLookupText">
        Welcome!
        <div class="googleLoginContainer">
          <div class="googleLogin">
            
          </div>
          <h class="loginGoogleText">Please sign up with your Google account</h>

          <a ui-sref="beforeWeGetStarted">Presentation Set Up</a>
        </div>
      </h>
    </div>
  </div>
</div>