
<div class="background">
  <header class="firstThingsHeader"> Let's Get Started!
  </header>

  <div class="optionBackgroundContainer">
    <div class="optionBackground">
      <p class="beforeStarted">
        NOW, BEFORE WE GET TO THE GOOD STUFF, WE NEED TO GET SOME CRUCIAL INFORMATION FROM YOU. IT'S REALLY IMPORTANT THAT THESE MEASUREMENTS ARE AS ACCURATE AS POSSIBLE, SO WE CAN CATER YOUR WORKOUTS TO YOU SPECIFICALLY. WE WANT YOU TO REACH YOUR GOALS AS QUICKLY AS YOU DO!
      </p>
    </div>
      <button type="button" class="okButton"> OK! </button>
  </div>
</div>