<div class="background">
  <header class="bodyFatPercHeader"> BF%
  </header>
  <div class="bfContainer">
    <div class="bfPercBackground">
      <div class="bfPercText"> 
        <p>Your body fat percentage is:</p>
        <br>
        <h1>23.1%</h1>

        <div id="bfPercInfo">
          For women between age 20 and 40, 19% to 26% body fat is generally good to excellent. For women age 40+ to 60+, 23% to 30% is considered good to excellent.
          <br>
          <br>
          For men between age 20 and 40, 10% to 20% body fat is generally good to excellent. For men age 40+ to 60+, 19% to 23% is considered good to excellent.
          <br>
          <br>
          <div class="setGoalsButtonCont">
            <a ui-sref="welcomeTo" class="setGoalsButton">Let's get started!</a>
          </div>
        </div>

      </div>
    </div>
  
      
  </div>
</div>