<div class="background">
  <header class="bodyFatPercHeader"> BF%
  </header>
  <div class="bfContainer">
    <div class="bfPercBackground">
      <div class="bfPercText"> 
        <p>Your body fat percentage is:</p>
        <br>
        <h1>{{userInfo.bfPerc}}%</h1>

        <div id="bfPercInfo">
          Now, akjdshfaliehfiuhejanlkdjfnliauehrfajkdnfakljhruiahdjkfalkjheriuqeoirpq  akheliruqhlekjfalkjdnflakjeriquherjkadnfajkdbfiquerghfqipjdsfnalkjdbfuiqeiruhfakljdfajkhdriuthqipehriahdfpeorqoiewurqkjadnfklajdnfhkljahweiuryqpidjhfa;k
          <br>
          <br>
          <div class="setGoalsButtonCont">
            <a ng-click="changePage()" class="setGoalsButton">Let's set my goals!</a>
          </div>
        </div>

      </div>
    </div>
  
      
  </div>
</div>