<div class="warmUpPage">
  <header class="animated fadeInDown" id="warmUpHeader">Let's have some fun!</header>

  <div id="warmUpBackground">
    <div class="animated fadeInUp" id="warmUpContainer">
      <h1>WARM-UP</h1>
      <p id="warmUpInfo">Instructions: Make sure to do each warm-up for 30 seconds, and repeat this list twice!</p>

      <ol class="warmUpList">
        <li>Arm Circles</li>
        <li>Jumping Jacks</li>
        <li>High Knees</li>
        <li>Butt Kicks</li>
        <li>Jog in place</li>
      </ol>

    </div>

    <a ui-sref="workout" class="letsWorkout">Start Workout!</a>
  </div>

  
</div>