<div class="warmUpPage">
  <div class="animated fadeInDown" id="warmUpHeader">Let's have some fun!</div>
  <div id="warmUpBackground">
    <h1>WORK-OUT</h1>
    <p id="warmUpInfo">Instructions: Do each exercise until you can't do any more. Take a 30 second break between each exercise and record how
      many you did in the space provided. </p>

    <ol class="animated fadeInUp" id="workoutList">
      <!--////////////////////-->
      <li class="workOuts">Wall Push-ups
        <div>
          <img id="workoutImage" src="./style/pics/wall_pushup.png">
        </div>
      </li>

      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall push ups did you do?
          </div>
          <input type="number" name="numWallPush" value="numWallPush">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're doing great!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Door Pulls
        <div>
          <img id="workoutImageDoorPull" src="./style/pics/doorPull.jpg">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall door pulls did you do?
          </div>
          <input type="number" name="numDoorPull" value="numDoorPull">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Keep it up!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Dead Bugs
        <div>
          <iframe id="workoutImage" src="https://www.youtube.com/embed/H7KsymxoCc0" frameborder="0"></iframe>
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall dead bugs did you do?
          </div>
          <input type="number" name="numDeadBugs" value="numDeadBugs">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, and keep going!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Wall Hip Hinges
        <div>
          <img id="workoutImage" src="./style/pics/wallHipHinge.png">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall hip hinges did you do?
          </div>
          <input type="number" name="numWallHipHinge" value="numWallHipHinge">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're doing great!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Glute Bridges
        <div>
          <img id="workoutImage" src="./style/pics/gluteBridges.jpg">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many glute bridges did you do?
          </div>
          <input type="number" name="numGluteBridges" value="numGluteBridges">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're amazing!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Wall Push-ups
        <div>
          <img id="workoutImage" src="./style/pics/wall_pushup.png">
        </div>
      </li>

      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall push ups did you do?
          </div>
          <input type="number" name="numWallPush" value="numWallPush">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're doing great!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Door Pulls
        <div>
          <img id="workoutImageDoorPull" src="./style/pics/doorPull.jpg">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall door pulls did you do?
          </div>
          <input type="number" name="numDoorPull" value="numDoorPull">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Keep it up!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Dead Bugs
       <div>
            <iframe id="workoutImage" src="https://www.youtube.com/embed/H7KsymxoCc0" frameborder="0"></iframe>
          </div>
        </li>
      <li class="breaks">Break
          <div>
            <br>
            <div id="howMany">How many wall dead bugs did you do?
            </div>
            <input type="number" name="numDeadBugs" value="numDeadBugs">
            <br>
            <br>
            <p id="takeBreak">Take a 30 second break! Drink some water, and keep going!</p>
          </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Wall Hip Hinges
        <div>
          <img id="workoutImage" src="./style/pics/wallHipHinge.png">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall hip hinges did you do?
          </div>
          <input type="number" name="numWallHipHinge" value="numWallHipHinge">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're doing great!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Glute Bridges
        <div>
          <img id="workoutImage" src="./style/pics/gluteBridges.jpg">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many glute bridges did you do?
          </div>
          <input type="number" name="numGluteBridges" value="numGluteBridges">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're amazing!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Wall Push-ups
        <div>
          <img id="workoutImage" src="./style/pics/wall_pushup.png">
        </div>
      </li>

      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall push ups did you do?
          </div>
          <input type="number" name="numWallPush" value="numWallPush">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're doing great!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Door Pulls
        <div>
          <img id="workoutImageDoorPull" src="./style/pics/doorPull.jpg">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall door pulls did you do?
          </div>
          <input type="number" name="numDoorPull" value="numDoorPull">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Keep it up!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Dead Bugs
        <div>
            <iframe id="workoutImage" src="https://www.youtube.com/embed/H7KsymxoCc0" frameborder="0"></iframe>
          </div>
        </li>
      <li class="breaks">Break
          <div>
            <br>
            <div id="howMany">How many wall dead bugs did you do?
            </div>
            <input type="number" name="numDeadBugs" value="numDeadBugs">
            <br>
            <br>
            <p id="takeBreak">Take a 30 second break! Drink some water, and keep going!</p>
          </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Wall Hip Hinges</li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall push ups did you do?
          </div>
          <input type="number" name="numWallPush" value="numWallPush">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're doing great!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Glute Bridges
        <div>
          <img id="workoutImage" src="./style/pics/gluteBridges.jpg">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many glute bridges did you do?
          </div>
          <input type="number" name="numGluteBridges" value="numGluteBridges">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're amazing!</p>
        </div>
      </li>

      <a class="letsWorkout">Finished!</a>
    </ol>

  </div>

</div>


</div>