<div class="warmUpPage">
  <div class="animated fadeInDown" id="warmUpHeader">Let's have some fun!</div>
  <div id="warmUpBackground">
    <form action="">
      
    
    <h1>WORK-OUT</h1>
    <p id="warmUpInfo">Instructions: Do each exercise until you can't do any more. Take a 30 second break between each exercise and record how
      many you did in the space provided. </p>

    <ol class="animated fadeInUp" id="workoutList">
      <!--////////////////////-->
      <li class="workOuts">Wall Push-ups
        <div>
          <img id="workoutImage" src="./style/pics/wall_pushup.png">
        </div>
      </li>

      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall push ups did you do?
          </div>
          <input type="number" name="numWallPush"  ng-model="input.numWallPush1">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're doing great!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Door Pulls
        <div>
          <img id="workoutImageDoorPull" src="./style/pics/doorPull.jpg">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall door pulls did you do?
          </div>
          <input type="number" name="numDoorPull"  ng-model="input.numDoorPull1">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Keep it up!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Dead Bugs
        <div>
          <iframe id="workoutImage" src="https://www.youtube.com/embed/H7KsymxoCc0" frameborder="0"></iframe>
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall dead bugs did you do?
          </div>
          <input type="number" name="numDeadBugs"  ng-model="input.numDeadBugs1">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, and keep going!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Wall Hip Hinges
        <div>
          <img id="workoutImage" src="./style/pics/wallHipHinge.png">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall hip hinges did you do?
          </div>
          <input type="number" name="numWallHipHinge"  ng-model="input.numWallHipHinge1">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're doing great!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Glute Bridges
        <div>
          <img id="workoutImage" src="./style/pics/gluteBridges.jpg">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many glute bridges did you do?
          </div>
          <input type="number" name="numGluteBridges"  ng-model="input.numGluteBridges1">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're amazing!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Wall Push-ups
        <div>
          <img id="workoutImage" src="./style/pics/wall_pushup.png">
        </div>
      </li>

      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall push ups did you do?
          </div>
          <input type="number" name="numWallPush"  ng-model="input.numWallPush2">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're doing great!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Door Pulls
        <div>
          <img id="workoutImageDoorPull" src="./style/pics/doorPull.jpg">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall door pulls did you do?
          </div>
          <input type="number" name="numDoorPull"  ng-model="input.numDoorPull2">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Keep it up!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Dead Bugs
       <div>
            <iframe id="workoutImage" src="https://www.youtube.com/embed/H7KsymxoCc0" frameborder="0"></iframe>
          </div>
        </li>
      <li class="breaks">Break
          <div>
            <br>
            <div id="howMany">How many wall dead bugs did you do?
            </div>
            <input type="number" name="numDeadBugs"  ng-model="input.numDeadBugs2">
            <br>
            <br>
            <p id="takeBreak">Take a 30 second break! Drink some water, and keep going!</p>
          </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Wall Hip Hinges
        <div>
          <img id="workoutImage" src="./style/pics/wallHipHinge.png">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall hip hinges did you do?
          </div>
          <input type="number" name="numWallHipHinge"  ng-model="input.numWallHipHinge2">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're doing great!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Glute Bridges
        <div>
          <img id="workoutImage" src="./style/pics/gluteBridges.jpg">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many glute bridges did you do?
          </div>
          <input type="number" name="numGluteBridges"  ng-model="input.numGluteBridges2">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're amazing!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Wall Push-ups
        <div>
          <img id="workoutImage" src="./style/pics/wall_pushup.png">
        </div>
      </li>

      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall push ups did you do?
          </div>
          <input type="number" name="numWallPush"  ng-model="input.numWallPush3">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're doing great!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Door Pulls
        <div>
          <img id="workoutImageDoorPull" src="./style/pics/doorPull.jpg">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall door pulls did you do?
          </div>
          <input type="number" name="numDoorPull"  ng-model="input.numDoorPull3">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Keep it up!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Dead Bugs
        <div>
          <iframe id="workoutImage" src="https://www.youtube.com/embed/H7KsymxoCc0" frameborder="0"></iframe>
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall dead bugs did you do?
          </div>
          <input type="number" name="numDeadBugs"  ng-model="input.numDeadBugs3">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, and keep going!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Wall Hip Hinges
        <div>
          <img id="workoutImage" src="./style/pics/wallHipHinge.png">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many wall hip hinges did you do?
          </div>
          <input type="number" name="numWallHipHinge"  ng-model="input.numWallHipHinge3">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're doing great!</p>
        </div>
      </li>
      <!--////////////////////-->
      <li class="workOuts">Glute Bridges
        <div>
          <img id="workoutImage" src="./style/pics/gluteBridges.jpg">
        </div>
      </li>
      <li class="breaks">Break
        <div>
          <br>
          <div id="howMany">How many glute bridges did you do?
          </div>
          <input type="number" name="numGluteBridges"  ng-model="input.numGluteBridges3">
          <br>
          <br>
          <p id="takeBreak">Take a 30 second break! Drink some water, you're amazing!</p>
        </div>
      </li>

      <button ui-sref="workoutSummary" class="letsWorkout" type="submit" ng-click="numWorkout(input)">Finished!</button>
    </ol>
  </form> 
  </div>

</div>


</div>